html {
    cursor: url('./assets/pointers/Pointer.gif'), auto;
}

canvas {
    position: absolute;
    display: block;
    margin: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

div {
    left: 95% !important;
}