html {
    cursor: url('./assets/ui/Pointer.gif'), auto;
}

body {
    user-select: none;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

canvas {
    position: relative;
    max-width: 100%;
}


div {
    left: 95% !important;
}